@model UserManage.Web.Models.UserViewModels

@{
    ViewBag.Title = "注册新用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>手机注册</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>注册用户</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control ", @placeholder = "请输入电话号码", @maxlength = "11", @id= "UserName" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
     
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" class="form-control  text-box single-line" placeholder="密码最少6位"  maxlength="50"/>
            </div>
        </div>
        <div class="form-group">
            <label>验证码</label>
            <div class="col-md-10">
                <input type="text" id="phoneCode" maxlength="6" class="form-control  text-box single-line"  /> 
                <input type="button" id="btnGetPhoneCode" value="获得验证码" class="btn btn-default" />

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="注册" class="btn btn-default" id="btnSubmit" />
            </div>
        </div>
    </div>
}
<script language="javascript" type="text/javascript">
    function showErrorMesage (errorMessage)
    {
        alert(errorMessage);
    }
        $("#UserName").focus();

        $("#btnGetPhoneCode").click(function () {
            //validate phone number
            var phoneNumber = $("#UserName").val();
            if(phoneNumber =="")
                showErrorMesage("电话号码不能为空")
                
            $.get("../user/SendPhoneCode/?phone=" + phoneNumber, function (data, status) {
                if (data) {

                }
                else {
                }
            });
        });

        $("#validationCode").blur(function () {
            var input = $("#validationCode").val();
            $.get("../user/Validate/?code=" + input, function (data, status) {
                if (data)
                {

                }
                else
                {
                }
            });
        });
  
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
