@model UserManage.Web.Models.UserViewModels

@{
    ViewBag.Title = "注册新用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>手机注册</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id= "form1"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>注册用户</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label id="validationSummary" class = "text-danger"></label>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control ", @placeholder = "请输入电话号码", @maxlength = "11", @id= "UserName" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
     
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" id="Password" class="form-control  text-box single-line" placeholder="密码最少6位"  maxlength="50"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 " for="phoneCode">验证码</label>
            <div class="col-md-6">
                <input type="text" id="phoneCode" maxlength="6" class="form-control  text-box single-line"  /> 
                <input type="button" id="btnGetPhoneCode" value="获得验证码" class="btn btn-default" />

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="注册" class="btn btn-default" id="btnSubmit" />
            </div>
        </div>
    </div>
}
<script language="javascript" type="text/javascript">
    var count = 60;
    var int 
    function showErrorMesage(errorMessage)
    {
        $("#validationSummary").text(errorMessage);     
    }

    function Interval()
    {
        if (count == 0)
        {
            window.clearInterval(int);
            count = 60;
            $("#btnGetPhoneCode").prop('disabled', false);
            $("#btnGetPhoneCode").prop('value', "获得验证码");
           
        }
        count--;
        $("#btnGetPhoneCode").prop('value', count + " 秒后重新 获得验证码");
    }

    function checkphoneNumber()
    {
        var phoneNumber = $("#UserName").val();
        if (phoneNumber == "") {
            showErrorMesage("电话号码不能为空");
            $("#UserName").focus();
            return false;
        }

        if (phoneNumber.length < 6) {
            showErrorMesage("请输入正确的电话号码");
            $("#UserName").focus();
            return false;
        }
        return true;
    }

    function checkPassword()
    {
        var password = $("#Password").val();
        if (password == "" || password.length < 6) {
            showErrorMesage("密码长度最少六位");
            $("#Password").focus();
            return false;
        }
        return true;
    }
        $("#UserName").focus();

        $("#btnGetPhoneCode").click(function () {
            showErrorMesage("");
            //validate phone number
           
            if (!checkphoneNumber())
                return false;

            var phoneNumber = $("#UserName").val();

            $.get("../user/SendPhoneCode/?phone=" + phoneNumber, function (data, status) {
                if (data.toLowerCase() == 'true') {
                    $("#btnGetPhoneCode").prop('disabled', true);
                   int=  self.setInterval(Interval, 1000);
                }
                else {
                    showErrorMesage("发送短消息失败");
                }
            });

        });

        $("#btnSubmit").click(function () {
            //clear Error message
            showErrorMesage("");

            if (!checkphoneNumber())
                return false;

            if (!checkPassword())
                return false;


            var code = $("#phoneCode").val();
            if (code == "")
            {
                showErrorMesage("请输入验证码");
                $("#phoneCode").focus();
            }

            $.get("../user/verifyPhoneCode/?code=" + code, function (data, status) {
                if (data.toLowerCase()=='true') {
                    $("#form1").submit();
                }
                else {
                    showErrorMesage("请输入正确的验证码");
                    $("#phoneCode").focus();
                }
            });
            
            
        });


  
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
