@model UserManage.Web.Models.UserViewModels

@{
    ViewBag.Title = "注册新用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>手机注册</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>注册用户</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control ", @placeholder = "请输入电话号码", @maxlength = "11", @id= "UserName" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            验证码
            <div class="col-md-10">
                <img src="../Image/GetImage"  /> 
                <input id="validationCode" type="text" maxlength="4" class="form-control" width="50%"/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" , @placeholder="密码最少6位" , @id="password"} })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>验证码</label>
            <div class="col-md-10">
                <input type="text" id="phoneCode" /> 
                <input type="button" id="btnGetPhoneCode" value="获得验证码" />

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("Form").validate({
            rules: {
                UserName: "required",
                validationCode: "required",
                password: "required"
            },
            messages: {
                loginName: "请输入电话",
                passWord1: "验证码",
                password: "请输入密码"
            }
        })
        $("#UserName").focus();

        $("#btnGetPhoneCode").click(function () {
            var phoneNumber = $("#UserName").val();
            $.get("../user/SendPhoneCode/?phone=" + phoneNumber, function (data, status) {
                if (data) {

                }
                else {
                }
            });
        });

        $("#validationCode").blur(function () {
            var input = $("#validationCode").val();
            $.get("../user/Validate/?code=" + input, function (data, status) {
                if (data)
                {

                }
                else
                {
                }
            });
        });
    });
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
